span.item-accumulator { background:url("/images/accumulator.png"); }
span.item-advanced-circuit { background:url("/images/advanced-circuit.png"); }
span.item-advanced-oil-processing { background:url("/images/advanced-oil-processing.png"); }
span.item-arithmetic-combinator { background:url("/images/arithmetic-combinator.png"); }
span.item-assembling-machine-1 { background:url("/images/assembling-machine-1.png"); }
span.item-assembling-machine-2 { background:url("/images/assembling-machine-2.png"); }
span.item-assembling-machine-3 { background:url("/images/assembling-machine-3.png"); }
span.item-atomic-bomb { background:url("/images/atomic-bomb.png"); }
span.item-basic-oil-processing { background:url("/images/basic-oil-processing.png"); }
span.item-battery-equipment { background:url("/images/battery-equipment.png"); }
span.item-battery-mk2-equipment { background:url("/images/battery-mk2-equipment.png"); }
span.item-battery { background:url("/images/battery.png"); }
span.item-beacon { background:url("/images/beacon.png"); }
span.item-behemoth-biter { background:url("/images/behemoth-biter.png"); }
span.item-behemoth-spitter { background:url("/images/behemoth-spitter.png"); }
span.item-big-biter { background:url("/images/big-biter.png"); }
span.item-big-electric-pole { background:url("/images/big-electric-pole.png"); }
span.item-big-spitter { background:url("/images/big-spitter.png"); }
span.item-big-worm-corpse { background:url("/images/big-worm-corpse.png"); }
span.item-big-worm { background:url("/images/big-worm.png"); }
span.item-biter-spawner-corpse { background:url("/images/biter-spawner-corpse.png"); }
span.item-biter-spawner { background:url("/images/biter-spawner.png"); }
span.item-blueprint-book { background:url("/images/blueprint-book.png"); }
span.item-blueprint { background:url("/images/blueprint.png"); }
span.item-boiler { background:url("/images/boiler.png"); }
span.item-brown-asterisk { background:url("/images/brown-asterisk.png"); }
span.item-brown-cane-cluster { background:url("/images/brown-cane-cluster.png"); }
span.item-brown-cane-single { background:url("/images/brown-cane-single.png"); }
span.item-brown-carpet-grass { background:url("/images/brown-carpet-grass.png"); }
span.item-brown-coral-mini { background:url("/images/brown-coral-mini.png"); }
span.item-brown-fluff-dry { background:url("/images/brown-fluff-dry.png"); }
span.item-brown-fluff { background:url("/images/brown-fluff.png"); }
span.item-brown-hairy-grass { background:url("/images/brown-hairy-grass.png"); }
span.item-burner-inserter { background:url("/images/burner-inserter.png"); }
span.item-burner-mining-drill { background:url("/images/burner-mining-drill.png"); }
span.item-cannon-shell { background:url("/images/cannon-shell.png"); }
span.item-car { background:url("/images/car.png"); }
span.item-cargo-wagon { background:url("/images/cargo-wagon.png"); }
span.item-centrifuge { background:url("/images/centrifuge.png"); }
span.item-chemical-plant { background:url("/images/chemical-plant.png"); }
span.item-cluster-grenade { background:url("/images/cluster-grenade.png"); }
span.item-coal-dark-background { background:url("/images/coal-dark-background.png"); }
span.item-coal-liquefaction { background:url("/images/coal-liquefaction.png"); }
span.item-coal { background:url("/images/coal.png"); }
span.item-coin { background:url("/images/coin.png"); }
span.item-combat-shotgun { background:url("/images/combat-shotgun.png"); }
span.item-computer { background:url("/images/computer.png"); }
span.item-concrete { background:url("/images/concrete.png"); }
span.item-constant-combinator { background:url("/images/constant-combinator.png"); }
span.item-construction-robot { background:url("/images/construction-robot.png"); }
span.item-copper-cable { background:url("/images/copper-cable.png"); }
span.item-copper-ore { background:url("/images/copper-ore.png"); }
span.item-copper-plate { background:url("/images/copper-plate.png"); }
span.item-creeper { background:url("/images/creeper.png"); }
span.item-crude-oil { background:url("/images/crude-oil.png"); }
span.item-curved-rail-remnants { background:url("/images/curved-rail-remnants.png"); }
span.item-curved-rail { background:url("/images/curved-rail.png"); }
span.item-dead-dry-hairy-tree { background:url("/images/dead-dry-hairy-tree.png"); }
span.item-dead-grey-trunk { background:url("/images/dead-grey-trunk.png"); }
span.item-dead-tree { background:url("/images/dead-tree.png"); }
span.item-decider-combinator { background:url("/images/decider-combinator.png"); }
span.item-deconstruction-planner { background:url("/images/deconstruction-planner.png"); }
span.item-defender-capsule { background:url("/images/defender-capsule.png"); }
span.item-defender { background:url("/images/defender.png"); }
span.item-destroyer-capsule { background:url("/images/destroyer-capsule.png"); }
span.item-destroyer { background:url("/images/destroyer.png"); }
span.item-locomotive { background:url("/images/diesel-locomotive.png"); }
span.item-dirt { background:url("/images/dirt.png"); }
span.item-discharge-defense-equipment { background:url("/images/discharge-defense-equipment.png"); }
span.item-distractor-capsule { background:url("/images/distractor-capsule.png"); }
span.item-distractor { background:url("/images/distractor.png"); }
span.item-dry-hairy-tree { background:url("/images/dry-hairy-tree.png"); }
span.item-dry-tree { background:url("/images/dry-tree.png"); }
span.item-effectivity-module-2 { background:url("/images/effectivity-module-2.png"); }
span.item-effectivity-module-3 { background:url("/images/effectivity-module-3.png"); }
span.item-effectivity-module { background:url("/images/effectivity-module.png"); }
span.item-electric-engine-unit { background:url("/images/electric-engine-unit.png"); }
span.item-electric-furnace { background:url("/images/electric-furnace.png"); }
span.item-electric-mining-drill { background:url("/images/electric-mining-drill.png"); }
span.item-electronic-circuit { background:url("/images/electronic-circuit.png") no-repeat; }
span.item-empty-barrel { background:url("/images/empty-barrel.png"); }
span.item-energy-shield-equipment { background:url("/images/energy-shield-equipment.png"); }
span.item-energy-shield-mk2-equipment { background:url("/images/energy-shield-mk2-equipment.png"); }
span.item-engine-unit { background:url("/images/engine-unit.png"); }
span.item-exoskeleton-equipment { background:url("/images/exoskeleton-equipment.png"); }
span.item-explosive-cannon-shell { background:url("/images/explosive-cannon-shell.png"); }
span.item-explosive-rocket { background:url("/images/explosive-rocket.png"); }
span.item-explosive-uranium-cannon-shell { background:url("/images/explosive-uranium-cannon-shell.png"); }
span.item-explosives { background:url("/images/explosives.png"); }
span.item-express-loader { background:url("/images/express-loader.png"); }
span.item-express-splitter { background:url("/images/express-splitter.png"); }
span.item-express-transport-belt-lane { background:url("/images/express-transport-belt-lane.png"); }
span.item-express-transport-belt { background:url("/images/express-transport-belt.png"); }
span.item-express-underground-belt { background:url("/images/express-underground-belt.png"); }
span.item-fast-inserter { background:url("/images/fast-inserter.png"); }
span.item-fast-loader { background:url("/images/fast-loader.png"); }
span.item-fast-splitter { background:url("/images/fast-splitter.png"); }
span.item-fast-transport-belt-lane { background:url("/images/fast-transport-belt-lane.png"); }
span.item-fast-transport-belt { background:url("/images/fast-transport-belt.png"); }
span.item-fast-underground-belt { background:url("/images/fast-underground-belt.png"); }
span.item-filter-inserter { background:url("/images/filter-inserter.png"); }
span.item-firearm-magazine { background:url("/images/firearm-magazine.png"); }
span.item-fish { background:url("/images/fish.png"); }
span.item-flamethrower-ammo { background:url("/images/flamethrower-ammo.png"); }
span.item-flamethrower-turret { background:url("/images/flamethrower-turret.png"); }
span.item-flamethrower { background:url("/images/flamethrower.png"); }
span.item-fluid-wagon { background:url("/images/fluid-wagon.png"); }
span.item-flying-robot-frame { background:url("/images/flying-robot-frame.png"); }
span.item-fusion-reactor-equipment { background:url("/images/fusion-reactor-equipment.png"); }
span.item-garballo-mini-dry { background:url("/images/garballo-mini-dry.png"); }
span.item-garballo { background:url("/images/garballo.png"); }
span.item-gate { background:url("/images/gate.png"); }
span.item-grass { background:url("/images/grass.png"); }
span.item-green-asterisk { background:url("/images/green-asterisk.png"); }
span.item-green-bush-mini { background:url("/images/green-bush-mini.png"); }
span.item-green-carpet-grass { background:url("/images/green-carpet-grass.png"); }
span.item-green-coral-mini { background:url("/images/green-coral-mini.png"); }
span.item-green-coral { background:url("/images/green-coral.png"); }
span.item-green-hairy-grass { background:url("/images/green-hairy-grass.png"); }
span.item-green-pita-mini { background:url("/images/green-pita-mini.png"); }
span.item-green-pita { background:url("/images/green-pita.png"); }
span.item-green-small-grass { background:url("/images/green-small-grass.png"); }
span.item-green-wire { background:url("/images/green-wire.png"); }
span.item-grenade { background:url("/images/grenade.png"); }
span.item-gun-turret { background:url("/images/gun-turret.png"); }
span.item-hazard-concrete { background:url("/images/hazard-concrete.png"); }
span.item-heat-exchanger { background:url("/images/heat-boiler.png"); }
span.item-heat-pipe { background:url("/images/heat-pipe.png"); }
span.item-heavy-armor { background:url("/images/heavy-armor.png"); }
span.item-heavy-oil-cracking { background:url("/images/heavy-oil-cracking.png"); }
span.item-heavy-oil { background:url("/images/heavy-oil.png"); }
span.item-high-tech-science-pack { background:url("/images/high-tech-science-pack.png"); }
span.item-inserter { background:url("/images/inserter.png"); }
span.item-iron-axe { background:url("/images/iron-axe.png"); }
span.item-iron-chest { background:url("/images/iron-chest.png"); }
span.item-iron-gear-wheel { background:url("/images/iron-gear-wheel.png"); }
span.item-iron-ore { background:url("/images/iron-ore.png"); }
span.item-iron-plate { background:url("/images/iron-plate.png"); }
span.item-iron-stick { background:url("/images/iron-stick.png"); }
span.item-kovarex-enrichment-process { background:url("/images/kovarex-enrichment-process.png"); }
span.item-lab { background:url("/images/lab.png"); }
span.item-land-mine { background:url("/images/land-mine.png"); }
span.item-landfill { background:url("/images/landfill.png"); }
span.item-laser-turret { background:url("/images/laser-turret.png"); }
span.item-light-armor { background:url("/images/light-armor.png"); }
span.item-light-oil-cracking { background:url("/images/light-oil-cracking.png"); }
span.item-light-oil { background:url("/images/light-oil.png"); }
span.item-loader { background:url("/images/loader.png"); }
span.item-logistic-chest-active-provider { background:url("/images/logistic-chest-active-provider.png"); }
span.item-logistic-chest-passive-provider { background:url("/images/logistic-chest-passive-provider.png"); }
span.item-logistic-chest-requester { background:url("/images/logistic-chest-requester.png"); }
span.item-logistic-chest-storage { background:url("/images/logistic-chest-storage.png"); }
span.item-logistic-robot { background:url("/images/logistic-robot.png"); }
span.item-long-handed-inserter { background:url("/images/long-handed-inserter.png"); }
span.item-lubricant { background:url("/images/lubricant.png"); }
span.item-market { background:url("/images/market.png"); }
span.item-medium-biter-corpse { background:url("/images/medium-biter-corpse.png"); }
span.item-medium-biter { background:url("/images/medium-biter.png"); }
span.item-medium-electric-pole { background:url("/images/medium-electric-pole.png"); }
span.item-medium-spitter { background:url("/images/medium-spitter.png"); }
span.item-medium-worm-corpse { background:url("/images/medium-worm-corpse.png"); }
span.item-medium-worm { background:url("/images/medium-worm.png"); }
span.item-military-science-pack { background:url("/images/military-science-pack.png"); }
span.item-modular-armor { background:url("/images/modular-armor.png"); }
span.item-night-vision-equipment { background:url("/images/night-vision-equipment.png"); }
span.item-nuclear-fuel-reprocessing { background:url("/images/nuclear-fuel-reprocessing.png"); }
span.item-nuclear-fuel { background:url("/images/nuclear-fuel.png"); }
span.item-nuclear-reactor { background:url("/images/nuclear-reactor.png"); }
span.item-offshore-pump { background:url("/images/offshore-pump.png"); }
span.item-oil-refinery { background:url("/images/oil-refinery.png"); }
span.item-orange-coral-mini { background:url("/images/orange-coral-mini.png"); }
span.item-personal-laser-defense-equipment { background:url("/images/personal-laser-defense-equipment.png"); }
span.item-personal-roboport-equipment { background:url("/images/personal-roboport-equipment.png"); }
span.item-personal-roboport-mk2-equipment { background:url("/images/personal-roboport-mk2-equipment.png"); }
span.item-petroleum-gas { background:url("/images/petroleum-gas.png"); }
span.item-piercing-rounds-magazine { background:url("/images/piercing-rounds-magazine.png"); }
span.item-piercing-shotgun-shell { background:url("/images/piercing-shotgun-shell.png"); }
span.item-pipe-to-ground { background:url("/images/pipe-to-ground.png"); }
span.item-pipe { background:url("/images/pipe.png"); }
span.item-pistol { background:url("/images/pistol.png"); }
span.item-plastic-bar { background:url("/images/plastic-bar.png"); }
span.item-player-port { background:url("/images/player-port.png"); }
span.item-player { background:url("/images/player.png"); }
span.item-poison-capsule { background:url("/images/poison-capsule.png"); }
span.item-power-armor-mk2 { background:url("/images/power-armor-mk2.png"); }
span.item-power-armor { background:url("/images/power-armor.png"); }
span.item-power-switch { background:url("/images/power-switch.png"); }
span.item-processing-unit { background:url("/images/processing-unit.png"); }
span.item-production-science-pack { background:url("/images/production-science-pack.png"); }
span.item-productivity-module-2 { background:url("/images/productivity-module-2.png"); }
span.item-productivity-module-3 { background:url("/images/productivity-module-3.png"); }
span.item-productivity-module { background:url("/images/productivity-module.png"); }
span.item-programmable-speaker { background:url("/images/programmable-speaker.png"); }
span.item-pump { background:url("/images/pump.png"); }
span.item-pumpjack { background:url("/images/pumpjack.png"); }
span.item-radar { background:url("/images/radar.png"); }
span.item-rail-chain-signal { background:url("/images/rail-chain-signal.png"); }
span.item-rail-signal { background:url("/images/rail-signal.png"); }
span.item-rail { background:url("/images/rail.png"); }
span.item-railgun-ammo { background:url("/images/railgun-ammo.png"); }
span.item-railgun { background:url("/images/railgun.png"); }
span.item-raw-wood { background:url("/images/raw-wood.png"); }
span.item-red-asterisk { background:url("/images/red-asterisk.png"); }
span.item-red-desert-rock-big-icon { background:url("/images/red-desert-rock-big-icon.png"); }
span.item-red-desert-rock-huge-icon { background:url("/images/red-desert-rock-huge-icon.png"); }
span.item-red-desert-rock-medium-icon { background:url("/images/red-desert-rock-medium-icon.png"); }
span.item-red-wire { background:url("/images/red-wire.png"); }
span.item-remnants { background:url("/images/remnants.png"); }
span.item-repair-pack { background:url("/images/repair-pack.png"); }
span.item-roboport { background:url("/images/roboport.png"); }
span.item-rocket-control-unit { background:url("/images/rocket-control-unit.png"); }
span.item-rocket-fuel { background:url("/images/rocket-fuel.png"); }
span.item-rocket-launcher { background:url("/images/rocket-launcher.png"); }
span.item-rocket-part { background:url("/images/rocket-part.png"); }
span.item-rocket-silo { background:url("/images/rocket-silo.png"); }
span.item-low-density-structure { background:url("/images/rocket-structure.png"); }
span.item-rocket { background:url("/images/rocket.png"); }
span.item-root-a { background:url("/images/root-a.png"); }
span.item-root-b { background:url("/images/root-b.png"); }
span.item-root-tree { background:url("/images/root-tree.png"); }
span.item-satellite { background:url("/images/satellite.png"); }
span.item-science-pack-1 { background:url("/images/science-pack-1.png"); }
span.item-science-pack-2 { background:url("/images/science-pack-2.png"); }
span.item-science-pack-3 { background:url("/images/science-pack-3.png"); }
span.item-shotgun-shell { background:url("/images/shotgun-shell.png"); }
span.item-shotgun { background:url("/images/shotgun.png"); }
span.item-slowdown-capsule { background:url("/images/slowdown-capsule.png"); }
span.item-small-biter-corpse { background:url("/images/small-biter-corpse.png"); }
span.item-small-biter { background:url("/images/small-biter.png"); }
span.item-small-electric-pole { background:url("/images/small-electric-pole.png"); }
span.item-small-lamp { background:url("/images/small-lamp.png"); }
span.item-small-plane { background:url("/images/small-plane.png"); }
span.item-small-scorchmark { background:url("/images/small-scorchmark.png"); }
span.item-small-spitter { background:url("/images/small-spitter.png"); }
span.item-small-stone-rock { background:url("/images/small-stone-rock.png"); }
span.item-small-worm-corpse { background:url("/images/small-worm-corpse.png"); }
span.item-small-worm { background:url("/images/small-worm.png"); }
span.item-solar-panel-equipment { background:url("/images/solar-panel-equipment.png"); }
span.item-solar-panel { background:url("/images/solar-panel.png"); }
span.item-solid-fuel-from-heavy-oil { background:url("/images/solid-fuel-from-heavy-oil.png"); }
span.item-solid-fuel-from-light-oil { background:url("/images/solid-fuel-from-light-oil.png"); }
span.item-solid-fuel-from-petroleum-gas { background:url("/images/solid-fuel-from-petroleum-gas.png"); }
span.item-solid-fuel { background:url("/images/solid-fuel.png"); }
span.item-space-module-wreck { background:url("/images/space-module-wreck.png"); }
span.item-space-science-pack { background:url("/images/space-science-pack.png"); }
span.item-speed-module-2 { background:url("/images/speed-module-2.png"); }
span.item-speed-module-3 { background:url("/images/speed-module-3.png"); }
span.item-speed-module { background:url("/images/speed-module.png"); }
span.item-splitter { background:url("/images/splitter.png"); }
span.item-stack-filter-inserter { background:url("/images/stack-filter-inserter.png"); }
span.item-stack-inserter { background:url("/images/stack-inserter.png"); }
span.item-steam-engine { background:url("/images/steam-engine.png"); }
span.item-steam-turbine { background:url("/images/steam-turbine.png"); }
span.item-steam { background:url("/images/steam.png"); }
span.item-steel-axe { background:url("/images/steel-axe.png"); }
span.item-steel-chest { background:url("/images/steel-chest.png"); }
span.item-steel-furnace { background:url("/images/steel-furnace.png"); }
span.item-steel-plate { background:url("/images/steel-plate.png"); }
span.item-stone-brick { background:url("/images/stone-brick.png"); }
span.item-stone-furnace { background:url("/images/stone-furnace.png"); }
span.item-stone-rock { background:url("/images/stone-rock.png"); }
span.item-stone-wall { background:url("/images/stone-wall.png"); }
span.item-stone { background:url("/images/stone.png"); }
span.item-storage-tank { background:url("/images/storage-tank.png"); }
span.item-straight-rail-remnants { background:url("/images/straight-rail-remnants.png"); }
span.item-submachine-gun { background:url("/images/submachine-gun.png"); }
span.item-substation { background:url("/images/substation.png"); }
span.item-sulfur { background:url("/images/sulfur.png"); }
span.item-sulfuric-acid { background:url("/images/sulfuric-acid.png"); }
span.item-tank-cannon { background:url("/images/tank-cannon.png"); }
span.item-tank { background:url("/images/tank.png"); }
span.item-train-stop { background:url("/images/train-stop.png"); }
span.item-transport-belt-lane { background:url("/images/transport-belt-lane.png"); }
span.item-transport-belt { background:url("/images/transport-belt.png"); }
span.item-tree-01-stump { background:url("/images/tree-01-stump.png"); }
span.item-tree-01 { background:url("/images/tree-01.png"); }
span.item-tree-02-stump { background:url("/images/tree-02-stump.png"); }
span.item-tree-02 { background:url("/images/tree-02.png"); }
span.item-tree-03-stump { background:url("/images/tree-03-stump.png"); }
span.item-tree-03 { background:url("/images/tree-03.png"); }
span.item-tree-04-stump { background:url("/images/tree-04-stump.png"); }
span.item-tree-04 { background:url("/images/tree-04.png"); }
span.item-tree-05-stump { background:url("/images/tree-05-stump.png"); }
span.item-tree-05 { background:url("/images/tree-05.png"); }
span.item-tree-06-stump { background:url("/images/tree-06-stump.png"); }
span.item-tree-06 { background:url("/images/tree-06.png"); }
span.item-tree-07-stump { background:url("/images/tree-07-stump.png"); }
span.item-tree-07 { background:url("/images/tree-07.png"); }
span.item-tree-08-stump { background:url("/images/tree-08-stump.png"); }
span.item-tree-08 { background:url("/images/tree-08.png"); }
span.item-tree-09-stump { background:url("/images/tree-09-stump.png"); }
span.item-tree-09 { background:url("/images/tree-09.png"); }
span.item-underground-belt { background:url("/images/underground-belt.png"); }
span.item-uranium-235 { background:url("/images/uranium-235.png"); }
span.item-uranium-238 { background:url("/images/uranium-238.png"); }
span.item-uranium-cannon-shell { background:url("/images/uranium-cannon-shell.png"); }
span.item-uranium-fuel-cell { background:url("/images/uranium-fuel-cell.png"); }
span.item-uranium-ore { background:url("/images/uranium-ore.png"); }
span.item-uranium-processing { background:url("/images/uranium-processing.png"); }
span.item-uranium-rounds-magazine { background:url("/images/uranium-rounds-magazine.png"); }
span.item-used-up-uranium-fuel-cell { background:url("/images/used-up-uranium-fuel-cell.png"); }
span.item-wall-remnants { background:url("/images/wall-remnants.png"); }
span.item-water { background:url("/images/water.png"); }
span.item-wood { background:url("/images/wood.png"); }
span.item-wooden-chest { background:url("/images/wooden-chest.png"); }
