body {
	font-family: Calibri;
	text-rendering: optimizeLegibility;
	image-rendering: optimizeQuality;
}

body {
	background: #455;
	color: #eee;
}
table th, table td {
	border: solid #777 1px;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

h1 {
	text-shadow: 3px 3px 4px #222;
}

div.header {
	position: fixed;
	top: 10px;
	right: 10px;
}
div.header a {
	color: black;
}

.rounded {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: rgba(200, 200, 200, 0.4);
}

div.counted-item {
	display: inline-block;
	position: relative;
	width: 1.3em;
	height: 1.3em;
	margin-right: 0.3em;
}

div.counted-item p.item {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

span.item-count {
	position: absolute;
	top: 0.8em;
	left: 0.9em;
	text-shadow: 2px 2px 1px #222,
				-2px 2px 1px #222,
				2px -2px 1px #222,
				-2px -2px 1px #222;
}

table caption {
	text-align: center;
}

tr td {
	text-align: right;
	padding-right: 0.6em;
}

tr th {
	text-align: center;
}

tfoot td {
    padding: 0.2em 0.8em 0.2em 0.8em;
	text-align: center;
}

p.number {
	display: inline-block;
	width: 80%;
	margin-right: 0.3em;
}

p.item {
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0.05em;
	margin-top: 0.05em;
	margin-right: 0.05em;
	width: 1.1em;
	height: 1.1em;
	position: relative;
	top: 5px;

	-webkit-filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.2));
}

p.number, span.number, p.item {
	font-family: Lucida Console, monospace;
	font-size: 140%;
}

div.annotated {
	position: relative;
}

div.annotated div.table {
	display: inline-table;
}

div.notes {
	position: absolute;
	display: inline-block;
	top: 0.25em;
	bottom: 1em;
	margin-left: 1em;
}

div.notes p {
	display: block;
}

div.ratio {
	width: 100%;
	text-align: center;
	font-size: 130%;
	margin-right: 1em;
}

span.ratio-colon {
	font-weight: bold;
	margin-left: 0.2em;
}