body {
	font-family: Calibri;
	text-rendering: optimizeLegibility;
	image-rendering: optimizeQuality;
}

body {
	background: #455;
	color: #eee;
}
table th, table td {
	border: solid #777 1px;
}

a, a:visited {
	color: white;
}

h1 {
	text-shadow: 3px 3px 4px #222;
}

div.header {
	position: fixed;
	top: 10px;
	right: 10px;
}
div.header a {
	color: black;
}

table caption {
	text-align: center;
}

tr td {
	text-align: right;
	padding-right: 0.6em;
}

tr th {
	text-align: center;
}

tfoot td {
    padding: 0.2em 0.8em 0.2em 0.8em;
	text-align: center;
}

p.number {
	display: inline-block;
	width: 80%;
	margin-right: 0.3em;
}

p.item {
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0.05em;
	margin-top: 0.05em;
	margin-right: 0.05em;
	width: 1.1em;
	height: 1.1em;
	position: relative;
	top: 5px;

	-webkit-filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.2));
}

p.number, span.number, p.item {
	font-family: Lucida Console, monospace;
	font-size: 140%;
}

div.annotated {
	position: relative;
}

div.annotated div.table {
	display: inline-table;
}

div.notes {
	position: absolute;
	display: inline-block;
	top: 0.25em;
	bottom: 1em;
	margin-left: 1em;
}

div.notes p {
	display: block;
}